Sphinx
sphinx-gallery
numpy
matplotlib
scipy
sphinx_book_theme
autodocsumm
sphinx_copybutton
tlcpack-sphinx-addon
babel
synr
pytest
cloudpickle
jupyter-sphinx
myst-nb
sphinx-thebe
sphinx_design
attrs
sphinxext-rediraffe
pydata-sphinx-theme==0.8.1
